* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes fadeInAnimation {
  
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

@keyframes revealDown {
    0% {height: 100%;}
    100% {height: 0%;}

}


body {
    /* background-color: #383838; */
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url(../img/pixel-brick-text-3.png);
    background-size: cover;
   
  
}

#landing {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #383838ae;
    transition: .5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    /* animation: revealDown ease-in .5s; */
}

#landing-display {
    width: 500px;
    height: 99vh;
    /* border: 1px dotted rgb(255, 255, 255); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;

    /* background-color: rgba(255, 255, 255, 0.464); */
}

#blito {
   
    width: 150px;
    position: absolute;
    bottom: 0
   
}

#can{
 
    width: 100px;
    position: absolute;
    top: 0;
    margin-top: 6em;
    /* left: 0; */
    border-bottom: 1px dotted white;
}

#scene {
    width: 250px;
    /* position: absolute; */
    top: 0;
    right: 0;
}

/* #landing-imgs{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
} */

#landing-display p{
    font-size: .8em;
    border-top: 1px dotted white;
font-family:"findreplace";
color: #43FFAE;
}

.landing-content {
	position: relative;
    width: 100%;
	height: 100%;
/*    text-align: center;*/
	/*margin-top: 30px;*/
	/*border:1px solid red;*/
	display: flex;
	flex-flow: row wrap;
}

.trigger {
   margin-top: 1.5em;
    background: none;
    border: 1px dotted white;
    padding: 10px;
    font-family: "findreplace";
    font-size: 1em;
    color: #43FFAE;
    transition: .4s ease-out;
    
}

.trigger:hover {
    background-color: #ffffff6b;
    box-shadow: 0 0 10px white;
    text-shadow: 0 0 10px black;
     
 }

article {
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards; */
    
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* pointer-events: none; */
}

#myAudio {
    padding: 10px;
    /* position: absolute;
    right: 5px;
    top: 10px; */
}

/* pop up */

.popup {
    position: relative;
    font-family: "anonymous pro";
    border: 1px solid #43FFAE;
    color: white;
    background: #363636a8;
    backdrop-filter: blur(3px);
    margin: 10px;
    width: 300px;
    box-shadow: 0 0 3px #43FFAE;
    box-shadow: 0 0 50px rgb(0, 0, 0);
    /* text-align: center; */
}

.p-name{
    /* border: 1px solid red; */
    font-family: "findreplace", sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2.2em;
    font-weight: 600;
    padding-bottom: 5px;
    text-shadow: 0 0 5px #ffffff87; 
    cursor: default;
    user-select: none;
}

.p-name:active {
    cursor: grabbing;
}

.p-name div{
    margin: 12px;
    margin-top: 20px;
    width: 15px;
    height: 15px;
    background-color: #43FFAE;
}

.p-name button {
    font-family: "findreplace";
    font-weight: 600;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 2px solid #43FFAE;
    background-color: white;
    width: 25px;
    height: 25px;
}

.p-identity {
   
    font-size: .8em;
    border-top: 1px solid #43FFAE;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}

.p-identity p {
    width: 100%;
    padding: 20px;
    line-height: 1.5em;
    border-bottom: 1px solid #43FFAE;
}

.p-identity img {
    padding: 12px;
    border-left: 1px solid #43FFAE;
    border-bottom: 1px solid #43FFAE;
    width: 150px;
}

.p-info {
    padding: 12px;
    font-size: .8em;
    border-bottom: 1px solid #43FFAE;
}

.p-info h3{
    margin-bottom: 8px;
}


.p-also {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #363636a8;
    font-size: .7em;
    font-weight: 800;
    background-color: #43FFAE;
    width: 90px;
    height: 18px;
}

.p-link-section {
    padding: 8px;
    display: flex;
  flex-direction: column;
    width: 100%;
    font-size: .8em;
    border-bottom: 1px solid #43FFAE;

}

.p-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: end ;
    width: 100%;
    margin-bottom: 8px;
    border: 1px solid #ffffff;
    transition: 0.2s ease-in-out;
}

.p-link:hover {
    box-shadow: 0 0 10px white;
    text-shadow: 0 0 10px white;
    background-color: rgba(255, 255, 255, 0.424);
}

.p-link p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7px;
    font-style: italic;
    text-align: end;
}

.p-link img{
    padding: 3px;
    width: 75px;
    height: 45px;
}

.p-time {
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 4px;
    font-family: "findreplace" ;
    font-size: 1.2em;
    text-shadow: 0 0 10px #ffffffc3; 
}

/* secondary popup window from .p-link */

/* .new-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    padding: 20px;
    z-index: 1000;

    font-family: "anonymous pro";
    border: 1px solid #43FFAE;
    color: white;
    background: #787878a8;
    backdrop-filter: blur(3px);
    margin: 10px;
    box-shadow: 0 0 3px #43FFAE;
    box-shadow: 0 0 50px rgb(0, 0, 0);
}

.popup-content {
    position: relative;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
} */

.nested-popup {
    position: absolute; /* Now it appears over everything */
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px; /* Adjust as needed */
    max-width: 90%;
    background: #787878a8;
    backdrop-filter: blur(3px);
    border: 1px solid #ffffff;
    /* padding: 20px; */
    margin: 10px;
    text-align: center;
    box-shadow: 0 0 3px #43FFAE;
    box-shadow: 0 0 50px rgb(0, 0, 0);
    color: white;
    z-index: 100; /* Higher than the parent popup */
}



#popup-nav {
    background-color: #ffffff;
    color: #383838;
    /* border: 1px solid red; */
    /* position: absolute; */
    width: 799px;
    height: 35px;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "findreplace";
    font-size: 1.5em;
    padding-left: 5px;
    margin-bottom: 15px;
    cursor: default;
    user-select: none;

} 

.popup-nav:active {
    cursor: grabbing;
}
.nested-popup p{
    padding: 5px;
    margin: 15px;
    font-family: "anonymous pro";
    font-size: .8em;
    border: 1px solid white;
}

.nested-content img {
    /* mix-blend-mode: screen; */
    /* opacity: 75%; */
    max-width: 100%;
    height: auto;
    /* margin-bottom: 10px; */
}

.close-nested {
    /* font-family: "arial"; */
    text-align: center;
    font-family: "findreplace";
    font-size: .6em;
    font-weight: 600;
    height: 30px;
    width: 60px;
    margin-right: 3px;
    background: #43FFAE;
    border: none;
    cursor: pointer;
    color: #383838;
}


/* Hidden by default */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    justify-content: center;
    align-items: center;
}

/* Popup Box */

#openPopup{
    display: none;
}

/* Show the popup when active */
.overlay.active {
    display: flex;
}



/* graffiti layout */

#graffiti-layout {
    /* border: 1px solid blue; */
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    overflow: hidden;
}

#graffiti-layout>div {
    /* border: 1px solid yellow; */
    text-align: center;
    padding: 20px 0;
}


.item0 {
   position: absolute;
   top: 40vh;
   left: 20vh;
  
    
   
}

.item1 #graffiti {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 20%;
}

.item2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.item3 {
    grid-column: 3/3;
    grid-row: 1/2;
margin-left: -30%;
margin-top: 20%;
}

.item4 {
    margin-top: -21%;
    margin-left: -10%;
}

.item5 {
    margin-top: -40%;
   
}

.item6{
    margin-left: -9%;
}

.item7{
    margin-top: -20%;
    margin-left: -20%;
}

.item8 {
    margin-top: -25%;
    margin-left: -45%;
}

.item9 {
    margin-top: -15%;
    margin-left: -35%;
}



/* hover */

.graffiti {
    width: 35vw;
    /* border: 1px solid pink; */
}

.graf-hover {

    position: absolute;
    width: 34.9vw;
    opacity: 0;
    transition: .4s ease-out;
}



.graf-hover-home {

    position: absolute;
    width: 49.9vw;
    opacity: 0;
    transition: .4s ease-out;
}

.graf-static {

    /* mix-blend-mode: screen; */
    /* position: absolute; */
    /* border: 1px solid red; */
    width: 100%;
    height: relative;
    transition: .4s ease-out;
}

.graf-static-home {

    /* mix-blend-mode: screen; */
    /* position: absolute; */
    /* border: 1px solid red; */
    width: 100%;
    height: relative;
    transition: .4s ease-out;
}




/* navigation bottom */

#nav-bottom {
    font-family: "findreplace", sans-serif;
    font-weight: 300;
    font-style: normal;
    position: fixed;
    z-index: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    bottom: 0px;
    width: 100vw;
    height: 9%;
    background-color: #383838;
    opacity: 90%;
    border: solid 1px red;

}

#nav-logo {
    width: 17%;
    height: auto;
    margin-left: 1em;
    margin-right: 1em;
    transition: .3s;
    /* border: solid 1px green; */
}

#nav-logo:hover {
    filter: blur(3px);
    box-shadow: 0 0 5px solid white;
}

#nav-logo img {
    width: 100%;
    padding: 6%;
}

#vertical-line {
    height: 80%;

    border: solid .5px white;
}

#timeline {
    margin-left: 2%;
    height: 90%;
    width: 100%;
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

#dotted-line {
    position: absolute;
    z-index: -1;
    width: 70%;
    margin-left: 1.8%;
    top: 51.5%;
    border: .5px dashed white;
}

.timeline-node {
    /* border: 1px solid skyblue; */
    width: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timeline-node p {
    color: white;
    font-size: .8em;
    margin-top: .4em;
}

.year-node {
    margin-top: 1.3em;
    width: 20px;
    height: 20px;
    background-color: white;
}

.year-node-active {
    /* border: 1px dashed rgb(251, 0, 0); */
    margin-top: 1.3em;
    width: 25px;
    height: 25px;
    background-color: #43FFAE;
}

.small-node {
    margin-top: 1em;
    width: 10px;
    height: 10px;
    background-color: white;
}

.small-node-num {
    font-size: .6em !important;
}

#audio-buttons button {
    margin: 10px;
    background-color: white;
    /* border: 5px solid #43FFAE; */
}

#audio-buttons img {
    filter: invert();
    width: 25px;
    padding: 2px;
    padding-bottom: 0px;
    
}